@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-primary : #E7E7EB;
  --text-secondary : #C6C6C8;
  --text-tetiary : #7C7C88;

  --bg-primary : #15151F;
  --bg-secondary : #191923;
  --bg-tetiary : #25252E;
  --bg-quantinary : #32323e;

  --border-primary : #272737;
  --border-secondary : #2C2C3F;
  --border-tetiary : #3A3A46;

  --main-primary : #7575A3;
}

body {
  background-image: url('/assets/prod/bg-gradient.webp');
  background-color: #15151F;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-quantinary);
  border-radius: 100px;
}

.ant-message-notice-content{
  background-color: var(--bg-secondary) !important;
  color : var(--text-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-primary);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

@font-face {
  font-family: 'greater-theory';
  src: url('/fonts/GreaterTheory.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
