@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #0A2540;      /* Main text, headings */
  --text-secondary: #425466;    /* Secondary text, labels */
  --text-tetiary: #8E98A3;      /* Tertiary text, placeholders */
  
  /* Background colors */
  --bg-primary: #FFFFFF;        /* Main background, cards */
  --bg-secondary: #F7F7FA;      /* Page background */
  --bg-tetiary: #EDEDF2;        /* Secondary UI elements, active state bg */
  --bg-quantinary: #DADAE0;     /* Additional UI elements */
  
  /* Border colors */
  --border-primary: #E0E0E7;    /* Main borders */
  --border-secondary: #D0D0D8;  /* Secondary borders */
  --border-tetiary: #BDBDC7;    /* Tertiary borders */
  --border-quantinary: #C6C6D0; /* Additional borders */
  
  /* Accent colors */
  --main-primary: #4D4DDC;  
}

body {
  /* background-image: url('/assets/prod/bg-gradient.webp'); */
  background-color: var(--bg-secondary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-quantinary);
  border-radius: 100px;
}

.ant-message-notice-content{
  background-color: var(--bg-secondary) !important;
  color : var(--text-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-primary);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

@font-face {
  font-family: 'greater-theory';
  src: url('/fonts/GreaterTheory.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.go2072408551 {
  background-color: var(--bg-secondary) !important;
  border : 1px solid var(--border-secondary) !important;
  color: var(--text-primary) !important;
  border-radius: 15px !important;
  font-size: 14px !important;
}