@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Width variables */
  --max-page-width: 1200px;
}

@theme {
  --color-text-primary: #284452;
  --color-text-secondary: #3F6D84;
  --color-text-tetiary: #95AAB6;
  --color-text-danger: #b93b36;
  --color-text-success: #29a333;
  
  /* Background colors */
  --color-bg-primary: #FFFFFF;
  --color-bg-primary-lighter: #FBFBFB;
  --color-bg-secondary: #F4F4F4;
  --color-bg-tetiary: #EBEBEB;
  --color-bg-quantinary: #D0D0D0;
  --color-bg-sidebar: #375462;
  
  /* Border colors */
  --color-border-primary: #E8EDEF;
  --color-border-secondary: #C4D2D9;
  --color-border-tetiary: #DDDDDD;
  --color-border-quantinary: #C6C6D0;
  
  --color-main-primary: #3F6D84;
  --color-main-primary-gradient: #77ABCB;
}

.dark {
	--color-text-primary: #F1FCFD;
	--color-text-secondary: #CDD6D7;
	--color-text-tetiary: #798586;
	--color-text-danger: #b93b36;
	--color-text-success: #29a333;

	--color-bg-primary: #0B0A0A;
	--color-bg-secondary: #1B1E1E;
	--color-bg-tetiary: #323737;
	--color-bg-quantinary: #373D3E;
	--color-bg-primary-lighter: #141515;

	--color-border-primary: #1D1D1D;
	--color-border-secondary: #2F2F2F;
	--color-border-primary: #4D4D4D;
	--color-border-quantinary: #909090;

	--color-main-primary: #3F6D84;
  --color-main-primary-gradient: #77ABCB;
}

body {
  /* background-image: url('/assets/prod/bg-gradient.webp'); */
  background-color: var(--bg-primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-quantinary);
  border-radius: 100px;
}

.ant-message-notice-content{
  background-color: var(--bg-secondary) !important;
  color : var(--text-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-primary);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

@font-face {
  font-family: 'greater-theory';
  src: url('/fonts/GreaterTheory.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.go2072408551 {
  background-color: var(--bg-secondary) !important;
  border : 1px solid var(--border-secondary) !important;
  color: var(--text-primary) !important;
  border-radius: 15px !important;
  font-size: 14px !important;
}